<h2><strong>CHILD</strong></h2>

<mat-card id="child">
  <mat-card-content>
    <i *ngIf="30 < matslider.value && matslider.value < 70" class="far fa-meh"></i>
    <i *ngIf="matslider.value <= 30" class="far fa-frown"></i>
    <i *ngIf="matslider.value >= 70" class="far fa-smile-beam"></i>
    <mat-slider min="0" max="100" step="1" [value]="myHappiness" #matslider (input)="input($event)"></mat-slider>
    <h2>
      <strong>{{ matslider.value }}</strong>
    </h2>
  </mat-card-content>
</mat-card>
      