<section class="container-fluid mt-5 mr-4">
    <div class="row">
        <div class="col-3 description">
            <p id="title"><strong>COMPONENT FAMILIES COMMUNICATE ASYNCHRONOUSLY</strong></p>

            <ul><strong>
                <li>Set the MOOD of each family member using the SLIDER.</li>
                <li>Families rely on each other, so Average Family Happiness effects the individual happiness of each family member
                    (according to a weighted score)</li>
                <li>Endless possible usse cases: cross-form validation, attribute pickers, scoring systems......</li>
            </strong></ul>
        </div>

        <div class="col-7 family-container text-center justify-content-center">
            <h2><strong>Average Family Happiness: {{avgHappiness}}</strong></h2>
            <div class="row justify-content-center text-center">
                <div class="col-8 grandparent-container justify-content-center text-center">
                    <app-grandparent></app-grandparent>
                </div>
            </div>
        </div>
    </div>
</section>

